{% extends "base.html" %}
{% block title %}NPC{% endblock %}


{% block content %}
    
    <p1 class="important">Rellenar mediante formularios las medidas corporales de personas para almacenarlas en una based de datos
    y poder consultarlas posteriormente.
    </p1>
    
    
    <br><button onclick="window.location.href = 'http://127.0.0.1:5000/formulario' ;">ACCESO AL FORMULARIO</button>
    <button onclick="window.location.href = 'http://127.0.0.1:5000/test' ;">ACCESO A DATOS</button>
{% endblock %}